<ion-menu class ="my-menu" side="start" menuId="first" contentId="router">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu">
    <ion-list>
      <!-- <ion-item routerLink="/home" (click)="closeMenu()">Inicio</ion-item> -->
      <ion-item routerLink="/login" (click)="closeMenu()">Inicio</ion-item>
      <!-- Para el login https://stalinmaza97.hashnode.dev/ionic-4-input-password-con-boton-para-mostrarocultar-texto -->
      <ion-item routerLink="/schedule" (click)="closeMenu()">Horario</ion-item>
      <ion-item routerLink="/calendar" (click)="closeMenu()">Calendario</ion-item>
      <ion-item routerLink="/" (click)="closeMenu()">Talleres</ion-item>
      <ion-item routerLink="/" (click)="closeMenu()">Comunidades</ion-item>
      <ion-item routerLink="/" (click)="closeMenu()"> U-Talk</ion-item> <!--https://ionicframework.com/docs/api/modal-->
    </ion-list>
  </ion-content>
</ion-menu>
