<ion-header>
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-title>Horario de</ion-title>
  <ion-input id="student" type="string" inputmode="string" placeholder="Student name" (ionChange)="chooseStudent($event)"></ion-input>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col
      *ngFor="let tile of tiles"
        [size]="tile.cols" class="ion-text-center">
        {{tile.text}}
      </ion-col>

    </ion-row>
    <ion-row>

    </ion-row>
  </ion-grid>
</ion-content>
